<div class="row my-4">
    <h2 class="col-12">
        Public profiles
    </h2>
</div>

<div class="row row-cols-1 row-cols-lg-2">
  <% @users.each do |user| if user.public then %>
    <div class="col mb-4">
      <div onclick="window.location.href = '/users/<%= user.id %>%';" class="card clickable">
        <div class="card-body">
          <div class="row">
            <div class="col-auto">
              <%= image_tag("profile.png", heigth: 120) %>
            </div>
            <div class="col">
              <h4 class="card-title">
                <%= user.name %>
              </h4>
              <div class="card-text">
                <p class="m-0">
                  <strong>City:</strong> <%= user.city %>
                </p>
                <p class="m-0">
                  <strong>Events:</strong> 12
                </p>
                <p class="m-0">
                  <strong>Main profile:</strong> <%= user.profile %>
                </p>
                <p class="m-0">
                  <strong>Subscribers:</strong> 25 671
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end end %>
</div>
