<% content_for :javascripts do %>
  <%= javascript_pack_tag 'users' %>
<% end %>

<div class="row mt-5">
  <div class="col-auto">
    <%= image_tag("profile.png", class: "profile-pic") %>
  </div>
  <div class="col">
    <h2>
      <%= @user.name %>
    </h2>
    <small class="text-success">
      You're following <i class="fas fa-check"></i>
    </small>
  </div>
</div>

<div class="row mt-4">
  <div class="col-4 col-lg-2 pr-0 text-right">
    <strong>City:</strong>
  </div>
  <div class="col-8 col-lg-10">
    <%= @user.city %>
  </div>
  <div class="col-4 col-lg-2 pr-0 text-right">
    <strong>Main profile:</strong>
  </div>
  <div class="col-8 col-lg-10">
    <%= @user.profile %>
  </div>
  <div class="col-4 col-lg-2 pr-0 text-right">
    <strong>About:</strong>
  </div>
  <div class="col-8 col-lg-10">
    <%= @user.about %>
  </div>            
</div>

<div class="row mt-3 justify-content-md-end">
  <div class="col-12 col-md-2">
    <form method="POST" action="/follow">
      <!-- alternative: javascript file fetch function! -->
      <button type="submit" class="btn btn-block btn-outline-danger">
        Unfollow
      </button>
    </form>
  </div>
</div>

<ul class="nav nav-tabs mt-3">
    <li class="nav-item">
      <div class="nav-link active clickable" id="events-btn">Events (<%= 1 %>)</div>
    </li>
    <li class="nav-item">
      <div class="nav-link clickable" id="followers-btn">Followers (<%= 1 %>)</div>
    </li>
</ul>

<div class="mt-4" id="events">
  <div class="row my-4">
    <div class="col-12 text-right">
      <%= link_to 'New', new_event_path, class: 'btn btn-primary' %>
    </div>
  </div>

  <div class="card text-white bg-secondary mb-3">
    <h4 onclick="window.location.href = '/events/<%= 1 %>';" class="card-header clickable">
      Debut of Piano concerto no. 20 in d minor
    </h4>
    <div class="card-body">
      <div class="row mb-3">
        <div class="lead col-12 col-lg-3 text-lg-right">
          Short description:
        </div>
        <div class="col-12 col-lg-9 pt-1">
          Highly acclaimed by his father, this concerto will be a monumental one for the new classical period of music.
        </div>
      </div>
      <div class="row mb-2">
        <div class="lead col-12 col-lg-3 text-lg-right">
          Coordinates:
        </div>
        <div class="col-12 col-lg-9 pt-1">
          <p class="mb-1">
            Schönbrunn Castle, Austria
          </p>
          <p class="m-0"><strong>
            2020. 10. 10. 10:00 - 13:30
          </strong></p>
        </div>
      </div>
      <div class="row">
        <div class="lead col-12 col-lg-3 text-lg-right">
          Theme of event:
        </div>
        <div class="col-12 col-lg-9 pt-1">
          Classical music
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-4 d-none" id="followers">
  <div class="media">
    <%= image_tag("profile.png", class: "profile-pic-mini mr-3") %>
    <div class="media-body">
      <h5 onclick="window.location.href = '/users/<%= 1 %>';" class="mb-0 mt-1 clickable">
        Ludwig van Beethoven
      </h5>
      <strong>Subscribers:</strong> 143
    </div>
  </div>
</div>
