- content_for :javascripts do
  = javascript_pack_tag 'users'

.row.mt-5
  .col-auto
    = image_tag("profile.png", class: "profile-pic")
  .col
    %h2
      = @user.name
    - if am_i_following_user?
      %small.text-success
        You're following
        %i.fas.fa-check
    - unless @user.public
      %small.text-muted
        %i.fas.fa-exclamation-circle
        Profile is not public

.row.mt-4
  .col-4.col-lg-2.pr-0.text-right
    %strong City:
  .col-8.col-lg-10
    = @user.city
  .col-4.col-lg-2.pr-0.text-right
    %strong Main profile:
  .col-8.col-lg-10
    = @user.profile
  .col-4.col-lg-2.pr-0.text-right
    %strong About:
  .col-8.col-lg-10
    = @user.about

- if !is_it_me? && logged_in?
  .row.mt-3.justify-content-md-end
    .col-12.col-md-2
      = form_tag user_follow_path(@user), method: "post" do
        - if am_i_following_user?
          = submit_tag 'Unfollow', class: 'btn btn-block btn-outline-danger'
        - else
          = submit_tag 'Follow', class: 'btn btn-block btn-outline-primary'

%ul.nav.nav-tabs.mt-3
  %li.nav-item
    #events-btn.nav-link.active.clickable
      = "Events (#{@user.events.length})"
  %li.nav-item
    #followers-btn.nav-link.clickable
      = "Followers (#{@user.followers.length})"

#events.mt-4
  - @user.events.each do |event|
    - if is_it_me?
      .row.my-4
        .col-12.text-right
          = link_to 'New', new_event_path, class: 'btn btn-primary'
    .card.text-white.bg-secondary.mb-3
      %h4.card-header.clickable{:onclick => "window.location.href = '#{event_path(event)}';"}
        = event.title
      - if event.published
        .card-body
          .row.mb-3
            .lead.col-12.col-lg-3.text-lg-right
              Short description:
            .col-12.col-lg-9.pt-1
              = event.short_desc
          .row.mb-2
            .lead.col-12.col-lg-3.text-lg-right
              Coordinates:
            .col-12.col-lg-9.pt-1
              %p.mb-1
                = event.place
              %p.m-0
                %strong
                  = l event.start_date, format: :datetime
                  \-
                  - if event.start_date.to_date == event.end_date.to_date
                    = l event.end_date, format: :time
                  - else
                    = l event.end_date, format: :datetime
          .row
            .lead.col-12.col-lg-3.text-lg-right
              Theme of event:
            .col-12.col-lg-9.pt-1
              = event.theme
      - else 
        .card-body
          .text-muted.font-italic Event is not published yet
  - if @user.events.empty?
    .row.my-4
      .col-12.text-center.text-muted.font-italic
        No events found

#followers.mt-4.d-none
  - @user.followers.each do |user|
    .media
      = image_tag "profile.png", class: "profile-pic-mini mr-3"
      .media-body
        %h5.mb-0.mt-1.clickable{:onclick => "window.location.href = '#{user_path(user)}';"}
          = user.name
          - if !@current_user.nil? && user.id == @current_user.id
            .badge.badge-success.align-top
              You
        - if user.public
          %strong Followers:
          = user.followers.length
        - else
          .small.text-muted.font-italic Profile not public
  - if @user.followers.empty?
    .row.my-4
      .col-12.text-center.text-muted.font-italic
        No followers found