<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div class="alert alert-danger my-4" role="alert">
      Error (<%= event.errors.count %>):
      <ul class="mb-0">
        <% event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label for="event_title">
      Title
    </label>
    <%= form.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <label for="event_theme">
        <p class="m-0">
          Theme(s)
        </p>
        <small>e.g.: Talking night, TEDx talk, Modern vehicles, Pop concert</small>
    </label>
    <%= form.text_field :theme, class: 'form-control' %>
  </div>
  <div class="form-group">
    <label for="event_start_date">
      Starting date and time
    </label>
    <%= form.datetime_field :start_date, class: 'form-control' %>
  </div>
  <div class="form-group">
    <label for="event_end_date">
        <p class="m-0">
          Ending date and time
        </p>
        <small>Leaving it blank will define no ending for the event.</small>
    </label>
    <%= form.datetime_field :end_date, class: 'form-control' %>
  </div>
  <div class="form-group">
    <label for="event_place">Place of event</label>
    <%= form.text_field :place, class: 'form-control' %>
  </div>
  <div class="form-group">
    <label for="event_short_desc">
        <p class="m-0">
          Short description
        </p>
        <small>Summary of the event that will show up on the events page.</small>
    </label>
    <%= form.text_area :short_desc, rows: 2, class: 'form-control' %>
  </div>
  <div class="form-group">
    <label for="event_full_desc">
        <p class="m-0">
          Description
        </p>
        <small>Mention every detail of your event in this field.</small>
    </label>
    <%= form.text_area :full_desc, rows: 4, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.check_box :published %>
    <label class="form-check-label" for="event_published">Publish this event to the events page!</label>
  </div>

  <div class="mt-4">
    <%= link_to 'Back', events_path, class: 'btn btn-danger' %>
    <%= form.submit 'Save', class: 'btn btn-success float-right' %>
  </div>
<% end %>