= form_for [event, post] do |form|
  - render 'layouts/errors', errors: post.errors

  .form-group
    = form.label :title
    = form.text_field :title, required: true, class: 'form-control'

  .form-group
    = form.label :body do
      %p.m-0
        Message body
      %small
        Keep your subscribers updated.
    = form.text_area :body, class: 'form-control', rows: 4

  .mt-4
    = link_to 'Back', event_path(post.event), class: 'btn btn-danger'
    = form.submit 'Save', class: 'btn btn-success float-right'
