<div class="card bg-light mt-5">
  <div class="card-body">
    <h5 class="card-title">
      <button href="#" class="btn btn-danger float-right">
        <i class="fas fa-trash"></i>
      </button>
      <%= @post.title %>
    </h5>
    <h6 class="card-subtitle mb-2 text-muted">
      <i class="fas fa-paper-plane"></i>&nbsp;<%= l @post.created_at, format: :datetime %>
    </h6>
    <p class="card-text">
      <%= @post.body %>
    </p>
  </div>
</div>

<div class="mt-4">
  <%= link_to 'Back', event_path(@post.event), class: 'btn btn-danger' %>
  <%= link_to 'Edit', edit_event_post_path(@event, @post), class: 'btn btn-primary float-right' %>
</div>
