<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Event Hub</title>

    <%= favicon_link_tag asset_path('favicon.ico') %>

    <%= stylesheet_link_tag 'application', media: "all" %>

    <%= javascript_include_tag 'https://kit.fontawesome.com/735dba9ed7.js' %>
    <%= javascript_pack_tag 'application' %>
    <%= yield :javascripts %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
      <div class="container">
        <a class="navbar-brand" href="/">
          <%= image_tag("eventhub-icon.svg", size: "22", class: "d-inline-block mr-2") %> &nbsp;Event Hub
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users">Public profiles</a>
            </li>
          </ul>
          <ul class="navbar-nav mr-right">
            <% if logged_in? %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Trisztán Piller
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  <a href="/users/me" class="dropdown-item">
                    My Profile
                  </a>
                  <a href="/users/me/edit" class="dropdown-item">
                    Edit Profile
                  </a>
                  <a href="/users/me/subs" class="dropdown-item">
                    My Subscriptions
                  </a>
                  <div class="dropdown-divider"></div>
                  <a href="/users/me/delete" class="dropdown-item">
                    Delete account
                  </a>
                  <div class="dropdown-divider"></div>
                  <a href="/logout" class="dropdown-item">
                    Log out
                  </a>
                </div>
              </li>
            <% else %>
              <li class="nav-item">
                <a class="nav-link" href="/login">Log in</a>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container wrapper">
      <% if notice %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <%= notice %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>

      <%= yield %>
      <div class="placeholder"></div>
    </div>

    <footer class="page-footer mt-5 text-dark bg-light">
      <div class="text-center py-3">© 2020 Copyright:
        <a href="#"> Trisztán Piller</a>
      </div>
    </footer>
  </body>
</html>
